
nav li {
    list-style: none;
    display: inline;
    
}

li {
    list-style: none;
}

input {
    padding: 0.3rem;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: black;
    color: antiquewhite;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    text-decoration: none;

}

img {
    max-width: 300px;
    max-height: 300px;
   }

.logo {
    display: flex;
    justify-content: center;
    margin: auto;
    align-content: center;

}


#resultados {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 2rem;
    gap: 1rem;
}